body {
    max-width: auto;
    margin: auto;
    padding: 100px;
    padding-top: 0px;
    background-color: antiquewhite;

}

#App {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

#add-form {
    text-align: center;
    font-size: 20px
}

table {
    margin-left: 30%;
}

input {
    margin-right: 20px;
    font-size: 18px;
}

#trbtt {
    
}

#btt {
    margin: 50px;
    padding: 10px;
    font-size: 17px;
}

h1 {
    font-family: 'Press Start 2P', cursive; 
    font-size: 45px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    font-family: sans-serif;
    background-color: white;
    width: auto;

}

li {
    background: black;
}
